<launch>
  <!--- Run controller -->
  <include file="$(find marin_control)/launch/control.launch" />

  <!--- Run gmapping -->
  <include file="$(find marin_navigation)/launch/gmapping.launch" />

  <!--- Run move_base -->
  <include file="$(find marin_navigation)/launch/move_base.launch" />
</launch>
